@page
@model IndexModel
@{
    ViewData["Title"] = "Próba feladat";
}

@{ //Adding the current day and the 3 before / after days to fill a whole week
    string d1 = DateTime.Now.AddDays(-3).DayOfWeek.ToString();
    string d2 = DateTime.Now.AddDays(-2).DayOfWeek.ToString();
    string d3 = DateTime.Now.AddDays(-1).DayOfWeek.ToString();
    string d4 = DateTime.Now.DayOfWeek.ToString();
    string d5 = DateTime.Now.AddDays(+1).DayOfWeek.ToString();
    string d6 = DateTime.Now.AddDays(+2).DayOfWeek.ToString();
    string d7 = DateTime.Now.AddDays(+3).DayOfWeek.ToString();

    String[] days; //making an array for the days and initialite it
    days = new String[]{ d1, d2, d3, d4, d5, d6, d7 };
}

<div class="container-fluid main-page">
    <div class="row">
        <div class="col-12 text-center my-4">
            <h1 class="m-0">Activities</h1>
        </div>
    </div>
    <div class="row mt-4">
        @foreach (var item in days) {
        <div class="col">
            <div class="date p-2">
                <div class="row">
                    <div class="col-12">
                        <h2 class="m-0">@item</h2>
                    </div>
                    <div class="col-12">
                        <h3 class="m-0">date</h3>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="row mt-4">
        <div class="col-10 mx-auto daily-list">
            <div class="list-item p-3 mb-2"><!--Start: repeatable list item. Made by adding a new record for that day-->
                <div class="row">
                    <div class="col-12">
                        Category / Subcategory
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-6">
                        comment section
                    </div>
                    <div class="col-2 text-center">
                        from
                    </div>
                    <div class="col-2 text-center">
                        to
                    </div>
                    <div class="col-2 text-right">
                        <button type="button" class="btn btn-warning" disabled>Modify Record</button><!--Todo: If necessary, make a modify record method-->
                    </div>
                </div>
            </div><!--End: repeatable list item. Made by adding a new record for that day-->
            <div class="list-item p-3 mb-2"><!--Start: repeatable list item. Made by adding a new record for that day-->
                <div class="row">
                    <div class="col-12">
                        Backend / Database Managements
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-6">
                        Connected SQL database with the application, made categories and subcategories records, that can be listed
                        at the daily activities.
                    </div>
                    <div class="col-2 text-center">
                        2020.05.20 15:00
                    </div>
                    <div class="col-2 text-center">
                        2020.05.20 16:38
                    </div>
                    <div class="col-2 text-right">
                        <button type="button" class="btn btn-warning" disabled>Modify Record</button><!--Todo: If necessary, make a modify record method-->
                    </div>
                </div>
            </div><!--End: repeatable list item. Made by adding a new record for that day-->
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3 mx-auto text-center">
            <button type="button" class="btn btn-success">Add new Record</button><!--Make a summary about the whole day manually-->
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3 mx-auto text-center">
            <button type="button" class="btn btn-primary">Make Summary</button><!--Make a summary about the whole day manually-->
        </div>
    </div>
</div>
