@page
@model IndexModel
@{
    ViewData["Title"] = "Próba feladat";
}

@{ //making an array of the name of the days
    int diffInDays = -3, indexToFill = 0; //i: 3rd day before today; k = variable for the loop

    String[] days;
    days = new String[7];

    String[] dates;
    dates = new String[7];

    for (diffInDays = -3; diffInDays < 4; diffInDays++) { //loop, starting from the 3rd day before today, ends at the 3rd day after today (one week)
        days[indexToFill] = DateTime.Now.AddDays(diffInDays).DayOfWeek.ToString(); //putting the nem of the days in the array
        indexToFill++;
    }

    indexToFill = 0; //setting back indexToFill to 0, just to use for the second loop below

    for (diffInDays = -3; diffInDays < 4; diffInDays++){ //loop, doing the same as with the days. Adding the dates to each of the days
        dates[indexToFill] = DateTime.Now.AddDays(diffInDays).ToString("MM.dd"); //Date time will be shown as month / day only
        indexToFill++;
    }
}

<div class="container-fluid main-page">
    <div class="row">
        <div class="col-12 text-center my-4">
            <h1 class="m-0">Activities</h1>
        </div>
    </div>
    <div class="row mt-4">
        @for (int dayIndex = 0; dayIndex < 7; dayIndex++) {
            <div class="col">
                <div class="date p-2">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="m-0">
                                @days[dayIndex]
                            </h2>
                        </div>
                        <div class="col-12">
                            <h3 class="m-0">@dates[dayIndex]</h3>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row mt-4">
        <div class="col-10 mx-auto daily-list">
            <div class="list-item p-3 mb-2"><!--Start: repeatable list item. Made by adding a new record for that day-->
                <div class="row">
                    <div class="col-12">
                        Category / Subcategory
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-6">
                        comment section
                    </div>
                    <div class="col-2 text-center">
                        from
                    </div>
                    <div class="col-2 text-center">
                        to
                    </div>
                    <div class="col-2 text-right">
                        <button type="button" class="btn btn-warning" disabled>Modify Record</button><!--Todo: If necessary, make a modify record method-->
                    </div>
                </div>
            </div><!--End: repeatable list item. Made by adding a new record for that day-->
            <div class="list-item p-3 mb-2"><!--Start: repeatable list item. Made by adding a new record for that day-->
                <div class="row">
                    <div class="col-12">
                        Backend / Database Managements
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-6">
                        Connected SQL database with the application, made categories and subcategories records, that can be listed
                        at the daily activities.
                    </div>
                    <div class="col-2 text-center">
                        2020.05.20 15:00
                    </div>
                    <div class="col-2 text-center">
                        2020.05.20 16:38
                    </div>
                    <div class="col-2 text-right">
                        <button type="button" class="btn btn-warning" disabled>Modify Record</button><!--Todo: If necessary, make a modify record method-->
                    </div>
                </div>
            </div><!--End: repeatable list item. Made by adding a new record for that day-->
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3 mx-auto text-center">
            <button type="button" class="btn btn-success">Add new Record</button><!--Make a summary about the whole day manually-->
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3 mx-auto text-center">
            <button type="button" class="btn btn-primary">Make Summary</button><!--Make a summary about the whole day manually-->
        </div>
    </div>
</div>
